Package: gay.rooot.geodeinject
Name: geodeinject
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: rooot
Author: rooot
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
